 
<form action="/Default/Message" method="post" class="col-form-label-lg" data-aos="fade-up" data-aos-delay="600">
    <div class="row gy-4">

        <div class="col-md-6">
            <input type="text" name="Name" class="form-control" placeholder="Adınız" required="">
        </div>

        <div class="col-md-6 ">
            <input type="email" class="form-control" name="Email" placeholder="Email" required="">
        </div>

        <div class="col-md-12">
            <input type="text" class="form-control" name="Subject" placeholder="Konu" required="">
        </div>

        <div class="col-md-12">
            <textarea class="form-control" name="MessageContent" rows="6" placeholder="Mesajınız" required=""></textarea>
        </div>

        <div class="text-center mt-3">
            
            <button class="btn btn-outline-dark" type="submit">Mesaj Gönder</button>

        </div>
        
    </div>
</form>
